# Node modules (both frontend & backend)
**/node_modules

# Logs
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/pnpm-debug.log

# Build output
**/dist
**/build
**/.next
**/.nuxt
**/.cache

# Environment files
**/.env
**/.env.*.local

# Misc
.DS_Store
Thumbs.db
